<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-user-pokemon-heading">Create or edit a User Pokemon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>

                <div class="form-group">
                    <label for="field_userManies">User Many</label>
                    <select class="form-control" id="field_userManies" multiple name="userManies" formControlName="userManies">
                        <option [ngValue]="getSelected(editForm.get('userManies')!.value, userOption)" *ngFor="let userOption of users; trackBy: trackById">{{userOption.firstName}} {{userOption.lastName}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="field_pokemonManies">Pokemon Many</label>
                    <select class="form-control" id="field_pokemonManies" multiple name="pokemonManies" formControlName="pokemonManies">
                        <option [ngValue]="getSelected(editForm.get('pokemonManies')!.value, pokemonOption)" *ngFor="let pokemonOption of pokemons; trackBy: trackById">{{pokemonOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
