<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cost-to-evolve-heading">Create or edit a Cost To Evolve</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_candyCost">Candy Cost</label>
                    <input type="number" class="form-control" name="candyCost" id="field_candyCost"
                           formControlName="candyCost"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_kmBuddyDistance">Km Buddy Distance</label>
                    <input type="number" class="form-control" name="kmBuddyDistance" id="field_kmBuddyDistance"
                           formControlName="kmBuddyDistance"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_evolutionType">Evolution Type</label>
                    <select class="form-control" id="field_evolutionType" name="evolutionType" formControlName="evolutionType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="evolutionTypeOption.id === editForm.get('evolutionType')!.value?.id ? editForm.get('evolutionType')!.value : evolutionTypeOption" *ngFor="let evolutionTypeOption of evolutiontypes; trackBy: trackById">{{evolutionTypeOption.name}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
