<div>
    <h2 id="page-heading">
        <span>Cost To Evolves</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cost-to-evolve" [routerLink]="['/cost-to-evolve/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Cost To Evolve
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="costToEvolves?.length === 0">
        <span>No costToEvolves found</span>
    </div>
    <div class="table-responsive" *ngIf="costToEvolves?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
            <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="candyCost"><span>Candy Cost</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="kmBuddyDistance"><span>Km Buddy Distance</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="evolutionType.name"><span>Evolution Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let costToEvolve of costToEvolves ;trackBy: trackId">
                <td><a [routerLink]="['/cost-to-evolve', costToEvolve.id, 'view' ]">{{costToEvolve.id}}</a></td>
                <td>{{costToEvolve.candyCost}}</td>
                <td>{{costToEvolve.kmBuddyDistance}}</td>
                <td>
                    <div *ngIf="costToEvolve.evolutionType">
                        <a [routerLink]="['/evolution-type', costToEvolve.evolutionType?.id, 'view' ]" >{{costToEvolve.evolutionType?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/cost-to-evolve', costToEvolve.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/cost-to-evolve', costToEvolve.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(costToEvolve)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="costToEvolves?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
